/* Estilos Gerais */
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', Helvetica Neue, sans-serif;
}

/* Cabeçalhos */
h2 {
    color: #838224;
    padding: 15px;
}

/* Logo e Separador */
.logo {   
    height: 70vh; /* Metade da altura da tela */
    background-image: url('logo.png'); /* Substitua com o caminho da sua imagem */
    background-size: cover;
    background-position: center;
}

.separator {
    height: 8px; /* Altura da div separadora */
    background-color: #838224; /* Cor de fundo da div separadora */
}

/* Estilos de Tabelas e Itens de Menu */
.menu {
    height: 50px;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
    border-collapse: collapse;
    background-size: cover;
}

td {
    padding: 15px;
}

/* Seção de Eventos */
.events {
    width: 100%;
    color: white;
    text-align: center;
    background-color: #242323ef;
    background-size: cover;
    background-position: center;
    font-size: medium;
    padding: 15px;
    image-resolution: 40px;
}

/* Seção Chamariz */
.chamariz {
    width: 100%;
    font-size: 15px;
    color: white;
    background-color: #242323; /* Cor de fundo da div separadora */
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

/* Seção About */
.about {
    text-align: justify;
    font-size: 17px;
}
